:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: #fff;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

.header {
    align-items: center;
    display: grid;
    background-color: rgb(20, 20, 20);
    grid-area: header;
    padding: var(--my-padding);
}

.menu {
    align-items: center;
    display: grid;
    background-color: rgb(247, 23, 23);
    grid-area: menu;
    padding: var(--my-padding);
}

.hero {
    align-items: center;
    display: grid;
    background-color: rgb(182, 182, 241);
    grid-area: hero;
    padding: var(--my-padding);
}

.banner {
    align-items: center;
    display: grid;
    background-color: rgb(255, 160, 71);
    grid-area: banner;
    padding: var(--my-padding);
}

.extra {
    align-items: center;
    display: grid;
    background-color: rgb(72, 192, 82);
    grid-area: extra;
    padding: var(--my-padding);
}

.image {
    align-items: center;
    display: grid;
    background-color: rgb(83, 221, 231);
    grid-area: image;
    padding: var(--my-padding);
}

main {
    align-items: center;
    display: grid;
    background-color: rgb(145, 20, 20);
    grid-area: main;
    padding: var(--my-padding);
}


@media (max-width: 1024px) {

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-areas:
            "header header header"
            "hero hero hero"
            "menu main main"
            "menu banner banner"
            "menu extra image"
        ;
    }
}

@media (max-width: 480px) {
    
    .sidebar {
        display: block;
    }

    .content3 {
        display: none;
    }
    
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr 1fr;
        grid-template-areas:
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}